<header class="page-header">
  <div class="wrapper">
    <div class="nav-wrapper">
      <div class="header-inner">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <a href="/">
                <img class="-logo" src="/assets/img/logo.svg">
              </a>
            </div>
            <div class="col-sm-6 col-sm-push-12 col-xs-8">
              <a class="-back-link" href="https://MDL.life/">←<span class="-back-to"> Back to</span> MDL.life</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>
